---
layout: splash
title: "The Fish Collective"
subtitle: "A global network of stereo-video working groups"
header:
  overlay_color: "#5e616c"
  video:
    src: /assets/videos/GB-BV-005_C.auratus_36.1m_small.mp4
excerpt: Advancing the understanding and stewardship of marine ecosystems through coordinated working groups of scientists using underwater imagery surveys of fish and shark assemblages. Promoting data standards while supporting collaboration, education and training. 
---

<div class="features-row">
  {% for feature in site.frontpage %}
    <div class="feature-card">
      <a href="{{ feature.external_url | default: feature.url }}" target="_blank" rel="noopener" class="feature-link">
        <div class="feature-image">
          <img src="{{ feature.image }}" alt="{{ feature.title }}">
        </div>
        <h3 class="feature-title">{{ feature.title }}</h3>
        {% if feature.excerpt %}
          <p class="feature-excerpt">{{ feature.excerpt }}</p>
        {% endif %}
        {% if feature.button %}
          <span class="feature-button">{{ feature.button }}</span>
        {% endif %}
      </a>
    </div>
  {% endfor %}
</div>

<h1>Funders & partners:</h1>
<section class="logo-grid">
  <div class="logo-card"><img src="assets/logos/aims.png" alt="AIMS logo"></div>
  <div class="logo-card"><img src="assets/logos/AMP_Parks_Mstr_logo_CMYK.png" alt="AMP logo"></div>
  <div class="logo-card"><img src="assets/logos/ardc.png" alt="ARDC logo"></div>
  <div class="logo-card"><img src="assets/logos/csiro.png" alt="CSIRO logo"></div>
  <div class="logo-card"><img src="assets/logos/curtin.png" alt="Curtin University logo"></div>
  <div class="logo-card"><img src="assets/logos/deakin.jpg" alt="Deakin University logo"></div>
  <div class="logo-card"><img src="assets/logos/dbca.png" alt="DBCA logo"></div>
  <div class="logo-card"><img src="assets/logos/dpird.jpg" alt="DPIRD WA logo"></div>
  <div class="logo-card"><img src="assets/logos/flinders.png" alt="Flinders University logo"></div>
  <div class="logo-card"><img src="assets/logos/jcu.png" alt="JCU logo"></div>
  <div class="logo-card"><img src="assets/logos/nsw_dpird.jpg" alt="NSW DPI logo"></div>
  <div class="logo-card"><img src="assets/logos/nespmac.png" alt="NSP MAC logo"></div>
  <div class="logo-card"><img src="assets/logos/dewnr.png" alt="DEWNR logo"></div>
  <div class="logo-card"><img src="assets/logos/utas.png" alt="UTAS logo"></div>
  <div class="logo-card"><img src="assets/logos/uwa.jpg" alt="UWA logo"></div>
  <div class="logo-card"><img src="assets/logos/unisc.png" alt="UniSC logo"></div>
</section>
